//custom variables
$font-family-sans-serif: "Barlow", sans-serif;
$font-size-base: 1.125rem;
$font-weight-base: 600;
$display-font-family: "Fraunces", serif;
$display-font-weight: 900;
$btn-font-family: "Fraunces", serif;
$btn-font-size: 1rem;
$light: #fff;

//import the functions and variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "theme-red": #fe7867,
    "theme-yellow": #fad400,
    "theme-dark-cyan": #26574c,
    "theme-dark-blue": #19536b,
    "theme-cyan": #458c7e,

    "neutral-blue": #23303e,
    "neutral-dark-gray": #5a636c,
    "neutral-gray": #818498,
    "neutral-light-gray": #a7abae
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

$container-max-widths: (
  xs: 375px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';